 spring:
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://94.130.228.242:5432/mgis
    hikari:
      username: testapp
      password: testapp1234!
      # put pass in kubernetes secret
